  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dlrauqjc5/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1668976081/le-wagon-movielist/alex-litvin-MAYsdoYpGuk-unsplash_uc4aq0.jpg');">
    <div class="container">
      <h1>Watch List</h1>
      <p>Change your life and create watch lists on one of the best watch list website on the world</p>
      <button class='btn btn-flat'> <%= link_to "Create new list", new_list_path %> </button>
    </div>
  </div>
    <div class="cards-container">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, crop: :fill %>')">
          <%= link_to "#{list.name}", list_path(list) %>
        </div>
      <% end %>
    </div>

<%# <%= cl_image_tag("https://res.cloudinary.com/dlrauqjc5/image/upload/v1668761257/cld-sample-3.jpg", width: 400, height: 300, crop: :fill) %>

<%# <%= cl_image_tag("IMAGE_WITH_FACE_ID", width: 150, height: 150, crop: :thumb, gravity: :face) %>

<%#
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>





<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> %>
